<html>
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body style="margin: 2%;">
      <h4> <a href="../"> Home </a> </h4>
      {% load crispy_forms_tags %}
      <h1> Pas een opdracht aan </h1>
      {% if message %}
        <p> {{ message }} </p>
      {% endif %}
      <form action = "" method="POST">
        <div class="form-group">
        {%csrf_token%}
        {{ form|crispy }}
        <input type="submit" class="form-control" value="Pas aan">
        </div>
      </form>
  </body>
</html>
