<html>
  <head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body style="margin: 2%;">
    <h1> Opdrachten App </h1>
    <hr>
    <button> <a href="./toevoegen" style="color: black; text-decoration: none;"> Opdracht toevoegen </button>
    <hr>
    {% if latest_opdracht_list %}
        <table class='table'>
          <tr>
            <th> Titel </th>
            <th> Datum </th>
            <th> Omschrijving </th>
          </tr>
        {% for opdracht in latest_opdracht_list %}
          <tr>
            <td><a href="/opdrachtenapp/{{ opdracht.id }}/">{{ opdracht.titel }}</a></td>
            <td>{{ opdracht.datum }}</td>
            <td>{{ opdracht.omschrijving }}</td>
          <tr>
        {% endfor %}
      </table>
    {% else %}
        <p>Er zijn nog geen opdrachten ingevuld. </p>
    {% endif %}
  </body>
</html>
